<launch>
    <rosparam command="delete" ns="rtabmap" />

    <arg name="camera1"              			default="t265"/>
    <arg name="camera2"              			default="d435"/>
    <arg name="rtabmap_args"              			default=""/>
    <arg name="localization"              			default="true"/>
    <arg name="visual_odometry"    default="true"/>
    <arg name="rviz"            default="false"/>
    <arg name="rtabmapviz"            default="false"/>

    <group ns="rtabmap">
        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
            <remap from="rgb/image"        to="/$(arg camera2)/color/image_raw"/>
            <remap from="depth/image"      to="/$(arg camera2)/aligned_depth_to_color/image_raw"/>
            <remap from="rgb/camera_info"  to="/$(arg camera2)/color/camera_info"/>
            <remap from="rgbd_image"       to="rgbd_image"/>
            <!-- Should be true for not synchronized camera topics
               (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
            <param name="approx_sync"       value="false"/>
        </node>

        <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="$(arg rtabmap_args) --Rtabmap/DetectionRate 2"> <!-- delete_db_on_start Rtabmap/DetectionRate 10-->

            <remap from="scan" to="/scan"/>
            <remap from="rgbd_image" to="rgbd_image"/>

            <!-- RTAB-Map's parameters -->
            <param name="wait_for_transform_duration" type="double" value="1.0"/>
            <param name="publish_tf"  type="bool"   value="true"/>
            <param name="odom_frame_id"           value="odom"/>
            <param name="subscribe_depth" type="bool" value="false"/>
            <param name="subscribe_rgbd" type="bool" value="true"/>
            <param name="subscribe_rgb" type="bool" value="false"/>
            <param name="subscribe_scan" type="bool" value="true"/>
            <param name="queue_size"         value="100"/>
            <param name="visual_odometry"       value="$(arg visual_odometry)"/>
            <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
            <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
            <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
            <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
            <param name="Grid/FromDepth"            type="string" value="false"/> <!-- occupancy grid from lidar -->
            <param name="Reg/Force3DoF"             type="string" value="true"/>
            <param name="Reg/Strategy"              type="string" value="1"/> <!-- [0=Vis, 1=Icp, 2=VisIcp] -->
            <param name="Grid/Sensor"               type="int" value="0"/> <!--"Create occupancy grid from selected sensor: 0=laser scan, 1=depth image(s) or 2=both laser scan and depth image(s).");-->


            <!-- ICP parameters -->
            <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
            <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>

            <!-- Localization mode -->
            <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
            <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
            <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
        </node>

        <!-- visualization with rtabmapviz -->
        <node if="$(arg rtabmapviz)" pkg="rtabmap_viz" type="rtabmapviz" name="rtabmapviz" args="" output="screen">
            <param name="subscribe_depth"             type="bool" value="false"/>
            <param name="subscribe_rgbd"             type="bool" value="true"/>
            <param name="subscribe_scan"              type="bool" value="true"/>
            <param name="frame_id"                    type="string" value="base_link"/>
            <param name="wait_for_transform_duration" type="double" value="0.5"/>
            <param name="Grid/FromDepth"                type="bool" value="true"/>

            <remap from="scan"                  to="/scan"/>
            <remap from="odom"                  to="/odometry/odom"/>
            <remap from="rgb/image"             to="/$(arg camera2)/color/image_raw"/>
            <remap from="depth/image"           to="/$(arg camera2)/aligned_depth_to_color/image_raw"/>
            <remap from="rgb/camera_info"       to="/$(arg camera2)/color/camera_info"/>
            <remap from="rgbd_image"            to="rgbd_image"/>
        </node>

  </group>


    <!-- RVIZ node -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" />

</launch>